@keyframes slideInRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes underlineGlow {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animations titre professionel */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shine {
  from {
    background-position: 200%;
  }
  to {
    background-position: -200%;
  }
}

/* Support navigateurs qui ne supportent pas background-clip */
@supports not (-webkit-background-clip: text) {
  .animated-title {
    background: none;
    color: #00d9e9;
  }
}

/* Gestion des bulles lors du click à l'écran */
@keyframes bubble-animation {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
