@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

@keyframes slideInRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-right {
  animation: slideInRight 0.8s forwards;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.floating-bubble {
  animation: float 6s ease-in-out infinite;
}

@keyframes underlineGlow {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

.animated-underline {
  position: relative;
  animation:
    underlineGlow 2s forwards,
    float 6s ease-in-out infinite;
  background-image: linear-gradient(120deg, #ff007a 0%, #00d9e9 100%);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 100%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp 2s ease-out;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 2s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes rollInRight {
  from {
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

.roll-in-right {
  animation: rollInRight 2s cubic-bezier(0.23, 1, 0.32, 1);
}
